@font-face {
  font-family: "Pratiwi";
  src: url("./fonts/Pratiwi\ Sans\ Typeface.ttf") format("truetype");
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Pratiwi";
  font-size: 18px;
}
